<f:layout name="Default" />
<f:section name="main">
<div class="masonry-wall">
  <f:for each="{wall.bricks}" as="brick">
    <f:render partial="Brick/Brick" arguments="{brick : brick}" />
  </f:for>
</div>
<f:if condition="{showNextLink}">
  <a href="{f:uri.action(action: 'show', arguments: '{wallOffset : wallOffset}')}" data-href="{f:uri.action(action: 'show', pageType: 1345225442, arguments: '{wallOffset : wallOffset}')}">{f:translate(key:'tx_mojomasonry_domain_model_brick.more')}</a>
</f:if>
</f:section>
