<div class="masonry-brick">
  <f:link.action action="show" controller="Brick" arguments="{brick : brick}" rel="slightbox[masonry-wall-{brick.uid}] "><f:image src="{brick.image}" width="{brick.width}" alt="{brick.title}" title="{brick.title}" /></f:link.action>
</div>
