<f:layout name="Default" />
<f:section name="main">
<div class="masonry-single-brick">
  <f:image src="{brick.image}" width="{settings.brick.width_single}" alt="{brick.title}" title="{brick.title}" />
  <h3>{brick.title}</h3>
  <p>{brick.description -> f:format.html()}</p>
</div>
</div>
</f:section>
